<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


* List of popular languages that Data Scientists use.
* List of commonly used libraries used by Data Scientists.
* List of Data Science tools.
* Some examples in Python with comments.

<h1>Some of the popular languages that Data Scientists use are:</h1>



*   Python
*   R
*   SQL
*   Julia
*   Java Script

<h1>Some of the commonly used libraries used by Data Scientists include:</h1>



1.   Pandas
2.   Numpy
3.   Matplotlib and Seaborn
4.   Scikit-Learn
5.   Tensorflow
6.   Keras

| Data Science Tools |
| --- |
| 1. IDEs: Vs code , Rstudio , Google colab  |
| 2. Softwares: Weka , Knime , Orange |
| 3. Version control system: Git |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
first_num = 32
second_num = 26
sum = first_num + second_num
print(sum)

58

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5
#result = 17

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200

print("In hours :" ,minutes/60)

In hours : 3.3333333333333335

<h2>AUTHOR: Mohammad Maftoun</h2>